body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 200;
    color: #5d5955;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: antiquewhite;
    background-repeat: repeat;
}

h1 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 25%;
    font-size: 6em;
    font-family: 'League Spartan', sans-serif;
    color: #035e7b
    
    
}

/* header 1 effect */

h1 {
    position: relative;
    overflow: hidden; /* Ensures the sliding background stays within the h1 boundaries */
    display: inline-block; /* Makes sure overflow applies properly */
}

h1::before {
    content: ''; /* This is necessary for the pseudo-element to exist */
    position: absolute;
    top: 0;
    left: -100%; /* Start position to the left of the h1 element */
    width: 100%; 
    height: 100%; 
    background-color: #5d5955; 
    transition: left 0.4s; /* slide speed */
    opacity: 50%; /* opacity of element, allows text to show through my desired colour */
}

h1:hover::before {
    left: 0; /* End position covering the h1 element */
}



/* Heading 2 style */
h2 {
    text-align: left;
    margin-top: 25px;
    margin-left:25%;
    margin-right: 25%;
    margin-bottom: 0%;
    font-size: 3em;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    color: #60644F;
}
/*Heading 3 style */
h3 {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 2em;

}
/* heading 4 style */
h4 {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: 25%;
        margin-right: 25%;
        font-family: 'League Spartan', sans-serif;
        font-size: 20px;

}
/* paragrah style */
p {
    color:#5d5955;
    font-size: large;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 0%;
}
/* list styling (menu at top) */
ul {
    color: #5d5955;
    font-size: large;
    text-align: left;
    justify-content: center;
    list-style-position: inside;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0%;
}

/* ---- Colour of hyperlinks ----- */

a {
    color: #60644F
}
/* hover colour for hyperlinks */
a:hover {
    color: #9c4fc9;
}

/*This is for the table for week two & five lab Task. hover effect and some styling */

table {
    width: 50%;
    border-collapse: collapse;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th,
td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    color: black;
}

th {
    background-color: #035e7b;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}    

/*navigation menu */

nav ul {
    list-style-type: none;
    /* Removes the bullet points */
    padding: 0;
    margin-left: 25%;
    margin-top: 1%;
    justify-content: center;
    display: flex;
    /* Makes the list items appear horizontally */
}

nav li {
    margin-right: 1%;
    /* Adds some spacing between menu items */
}

nav a {
    text-decoration: none;
    color: #035e7b;
    display: inline-block;
    font-size: larger;
    font-weight: 300;
}

nav a:hover {
    color: #002e2c;
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    /* Changes color to blue when hovered over */
}
/* here is the styling for the videos in week 8,  */

#saferinternet {
    color: #60644F;
    text-align: center;
    margin-top: 10px;
    font-size: 5em;
    font-family: 'League Spartan', sans-serif;
    }

#saferinternet:hover{
    color: #9c4fc9;

}

#page-navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    padding: 10px 0;
}

#prev-page, #next-page {
    padding: 10px 20px;
    text-decoration: none;
    color: #5d5955;
    background-color: antiquewhite;
    border: 1px solid #5d5955;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
/* hover effect for prev/next page buttons */
#prev-page:hover, #next-page:hover {
    background-color: #035e7b;
    color: white;
}


/* Hide the menu by default otherwise it duplicates */
#nav-menu {
    display: none;
    list-style-type: none;
    padding: 0;
}


#image3 {
    filter: blur(5px); /* Adjust the pixel value to increase/decrease the blur effect */
    cursor: pointer; /* changes the cursor on hover to indicate it's clickable */
    transition: filter 0.3s ease; /* adds a smooth transition effect */
}

.audio-container {
    flex-direction: column;
    gap: 20px; 
    align-items: left; 
    margin-left: 25%;
    padding: 20px;
}

#trump_master {
  margin-left: 20% auto;
}

figcaption {
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    color: #60644F;
    margin-top: 10px;

}

#video-container1, #video-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
  
}

figure {
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0%;
    width: 320px;
}

image {
    display: block;
    margin-left: 25%;
    margin-right: 25%
}

iframe {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
/* if i have time I will tidy this and combine things into one ID, at the moment, having things individually 
done helps me keep things clear whilst I still build. If I run out of time, I will keep it this way */
